@import url("https://fonts.googleapis.com/css2?family=Anton&family=Major+Mono+Display&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
	--color-bg: hsl(0, 0%, 10%);
	--color-fg: hsl(0, 0%, 90%);
	--color-acc: #e6521f;

	--font-logo: "Major Mono Display";
	--font-text: "Poppins";
	--font-hero: "Anton";
}

* {
	margin: 0;
}

body {
	background-color: var(--color-bg);
	font-family: var(--font-text);
}

a {
	text-decoration: none;
	color: inherit;
}

.headerSection {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
}

.navItems {
	display: flex;
	gap: 2rem;
}

.navItem {
	color: var(--color-fg);
	transition: all 0.3s ease;
}
.navItem:hover {
	color: var(--color-acc);
	scale: 1.05;
}

.logo {
	color: var(--color-fg);
	font-family: var(--font-logo);
	font-size: 2rem;
}

.logo:hover {
	color: var(--color-acc);
}

/*################*/

.heroMain * {
	font-family: var(--font-hero);
	display: flex;
	color: var(--color-fg);
	line-height: 1;
}

.heroSection {
	margin-top: 2rem;
	display: flex;
	flex-direction: column;
	padding: 1rem;
	justify-content: center;
	align-items: center;
}

.T *,
.BL {
	flex-direction: column;
	margin: 0;
}

.TRB {
	flex-direction: row;
}


.TLT,
.BR {
	font-size: 22rem; /* was 18.125rem */
}

.TRBL,
.BLT {
	font-size: 17rem; /* was 15rem */
}

.TLB,
.BLB {
	font-size: 4rem; /* was 3rem */
}

.TRT {
	font-size: 5rem; /* was 4rem */
}

.TRBRT,
.TRBRM,
.TRBRB {
	font-size: 6rem; /* was 4.5rem */
}

.heroMain .TLT,
.heroMain .TLB,
.heroMain .TRT,
.heroMain .TRBL,
.heroMain .TRBRT,
.heroMain .TRBRM,
.heroMain .TRBRB,
.heroMain .BLT,
.heroMain .BLB,
.heroMain .BR {
	display: inline-block;
	line-height: 1;
	transition: transform 0.3s ease;
}

.heroMain .TLT:hover,
.heroMain .TLB:hover,
.heroMain .TRT:hover,
.heroMain .TRBL:hover,
.heroMain .TRBRT:hover,
.heroMain .TRBRM:hover,
.heroMain .TRBRB:hover,
.heroMain .BLT:hover,
.heroMain .BLB:hover,
.heroMain .BR:hover {
	transform: scale(1.05);
	cursor: pointer;
	color: var(--color-acc);
}
